

.contain
{
	display: flex; 
	justify-content: space-around;
	height: 70px;
	background-color: #5d6a77;
	border: solid 1px;
}
a
{
	text-decoration: none;
}
.item-menu-back
{
	margin-top: 20px;
	text-align: center;
	padding: 20px;
	color: white;
}
.menu-back
{
	padding: 20px;
}
.contain-lateral
{
	display: flex; 
	flex-direction: column;
	width:100px;
	height: 600px;
	background-color: #a9d0f8;
	border: solid 1px;
}
.item-lateral
{
	width:100%;
	text-align: center;
	border-bottom: solid 1px;
}
.menu-lat
{
	display: flex;
}
